<div class="viewPaseDiv" ng-init="loadDataUsingAngularJS()">
    <h4>
        Show This Week PASE Schedule: <input type="checkbox" ng-model="showRecords" ng-click="showInfo">
    </h4>

    <div id="showRecords" ng-show="showRecords" ng-controller="viewPaseCtrl">
        <!-- <h4>The no.of records found in Excel sheet is: {{noOfRecords}}</h4> -->

        <div class="excelData" ng-show="showPase">
            <table>
                <tr>
                    <td><b>Date: {{lastRecord.Date}} <br/>
                        Time: {{lastRecord.Time}} </b>
                    </td>
                    <td>Location: <br/>
                         {{lastRecord.Location}}</td>
                </tr>
                <tr>
                    <td>Business Plan</td>
                    <td><b>{{lastRecord.Plan_Shower}}</b></td>
                </tr>
                <tr>
                    <td>Host</td>
                    <td><b>{{lastRecord.Host}}</b></td>
                </tr>
                <tr>
                    <td>Timer</td>
                    <td><b>{{lastRecord.Timer}}</b></td>
                </tr>
                <tr>
                    <td>{{lastRecord.Product1_Topic}}</td>
                    <td><b>{{lastRecord.Product1_Speaker}}</b></td>
                </tr>
                <tr>
                    <td>{{lastRecord.Product2_Topic}}</td>
                    <td><b>{{lastRecord.Product2_Speaker}}</b></td>
                </tr>
                 <tr>
                    <td>{{lastRecord.Product3_Topic}}</td>
                    <td><b>{{lastRecord.Product3_Speaker}}</b></td>
                </tr>
                <tr>
                     <td>BSM:</td>
                    <td><b>{{lastRecord.BSM}}</b></td>
                </tr>
                <tr>
                     <td>Book:</td>
                    <td><b>{{lastRecord.Book}}</b></td>
                </tr>
                <tr>
                     <td>BWW TP/TV/Web Space:</td>
                    <td><b>{{lastRecord.BWW_TP}}</b></td>
                </tr>
                <tr>
                    <td>{{lastRecord.Special_Training_Topic}}</td>
                    <td><b>{{lastRecord.Special_Training_Speakers}}</b></td>
                </tr>
                <tr>

                    <td colspan="2" class="textAlignCenter">Wrap up: {{lastRecord.Wrapup_Speakers}}</td>
                    
                </tr>
            </table>
        </div>

        <div ng-show="hidePase">
            <br/><h4>We Don't have PASE this week as</h4> 
            <h2 class="noPase"> {{lastRecord.Reason}}</h2>
        </div>

    </div>

</div>

