
<div class="" ng-init="loadOpenMeetingDataUsingAngularJS()">

 	<h4>
        Show This Week Open Meeting Schedule: <input type="checkbox" ng-model="showOpenMeetingRecords" ng-click="showOpenMeetingInfo">
    </h4>


	<div id="showOpenMeetingRecords" ng-show="showOpenMeetingRecords" ng-controller="viewOpenCtrl">
      
        <div class="openMeetingTable">

			<table>
                <tr>
                    <td> Date: <b>{{openMeetingLastRecord.Date}}</b> <br/>
                         Time: <b>{{openMeetingLastRecord.Time}}</b>
                    </td>
                    <td>Location: <br/>
                         <b>{{openMeetingLastRecord.Address}}</b></td>
                </tr>
                <tr>
                    <td>Speakers</td>
                    <td class="bgColorTD"><b>{{openMeetingLastRecord.Speakers}}</b></td>
                </tr>
                <tr>
                    <td>Host</td>
                    <td><b>{{openMeetingLastRecord.Host}}</b></b></td>
                </tr>
        </div>

    </div>

</div>

